PORT=3002
DATABASE_URL=postgresql://postgres:postgres@localhost:5436/gym_order
PGSSLMODE=disable
CATALOG_SERVICE_URL=http://localhost:3000
PAYMENT_SERVICE_URL=http://localhost:4006
KAFKA_BROKERS=kafka:29092
